.bgContainer {
  position: relative;
  text-align: center;
  color: white;
  width: 85%;
  background: #022d4b;
  padding: 0 !important;
  left: 50%;
  transform: translate(-50%, 0);
}

.bgContainer img {
  width: 100%;
  height: 280px;
  opacity: 0.3;
}
/* Centered text */
.centered {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rounded-coner {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  margin-right: -35px;
}
.rounded-coner:focus {
  z-index: 0 !important;
}
.homeBtn {
  height: auto;
  z-index: 1;
  border: 1px solid transparent !important;
  border-radius: 20px !important;
  background: rgb(48, 188, 207);
  background: linear-gradient(
    to right,
    rgba(13, 216, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
}

.titlepara {
  color: "#fff";
  font-size: 48px;
  font-weight: 700;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.subTitlepara {
  color: "#fff";
  font-size: 32px;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.homeBtn:hover {
  margin-top: 0px !important;
}

.homeBtn:active {
  margin-top: 0px !important;
}

.TabsContainer {
  margin-top: 20px;

  /* display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row; */
  margin-left: 130px;
}

.TitleContainer {
  float: left;
  margin-right: 20px;
}

.TabsContainer p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.nav-tabs {
  margin-left: 25px !important;
  border: 1px solid #000 !important;
  border-radius: 20px !important;
  background: #fff !important;
  width: 398px;
  height: 37px;
}
.nav-item {
  margin-bottom: 0px !important;
}
.nav-link {
  padding: 6px !important;
  background: #fff !important;
  width: 99px !important;
  border-radius: 20px !important;
  height: 35px !important;
  border: none !important;
  margin-top: 0 !important;
  color: #304c64 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: "Source Sans Pro";
}

.nav-link:hover {
  padding: 6px !important;
}

.nav-link.active {
  background: #022441 !important;
  color: #fff !important;
}

/*
.nav-link.active {
  border: none !important;
  background: linear-gradient(
    to right,
    rgba(13, 216, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
} */
