.TabsContainer {
  margin-top: 20px;
  margin-left: 130px;
}

.TitleContainer {
  float: left;
  margin-right: 20px;
}

.TabsContainer p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.nav-tabs {
  margin-left: 25px !important;
  border: 1px solid #000 !important;
  border-radius: 20px !important;
  background: #fff !important;
  width: fit-content;
  height: 37px;
}
.nav-item {
  margin-bottom: 0px !important;
}
.nav-link {
  padding: 6px !important;
  background: #fff !important;
  width: 99px !important;
  border-radius: 20px !important;
  height: 35px !important;
  border: none !important;
  margin-top: 0 !important;
  color: #304c64 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: "Source Sans Pro";
}

.nav-link:hover {
  padding: 6px !important;
}

.nav-link.active {
  background: #022441 !important;
  color: #fff !important;
}

/*
  .nav-link.active {
    border: none !important;
    background: linear-gradient(
      to right,
      rgba(13, 216, 169, 1) 0%,
      rgba(1, 180, 228, 1) 100%
    ) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  } */
.trendingBg .TabsContainer {
  background-image: url("./trending.svg") !important;
  background-position: 0% 156px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}
